<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Calculadora</title>
</head>

<body>
    <div class="index__container">
        <div class="index__display_calc">
            6000<em class="index__display_calc_sinal">/</em>2<em class="index__display_calc_sinal">+</em>32277<em
                class="index__display_calc_sinal">*</em>2
        </div>
        <div class="index__display_result">
            =12,454
        </div>
        <div class="index__display_button1">
            <div class="index_display_sub_button1">
                <p>e</p>
            </div>
            <div class="index_display_sub_button1">
                <p>µ</p>
            </div>
            <div class="index_display_sub_button1">
                <p>sin</p>
            </div>
            <div class="index_display_sub_button1">
                <p>deg</p>
            </div>

        </div>
        <div class="index__display_button2">
            <div class="index_display_sub_button2_1">
                <p>Ac</p>
            </div>
            <div class="index_display_sub_button2_1">
                <p>⌫</p>
            </div>
            <div class="index_display_sub_button2_2">
                <p>/</p>
            </div>
            <div class="index_display_sub_button2_2">
                <p>*</p>
            </div>

        </div>
        <div class="index__display_button_number">
            <div class="index_display_sub_button_number">
                <p>7</p>
            </div>
            <div class="index_display_sub_button_number">
                <p>8</p>
            </div>
            <div class="index_display_sub_button_number">
                <p>9</p>
            </div>
            <div id="index_display_sub_button_less">
                <p>-</p>
            </div>
            </div>
            <div class="index__display_button_number1">
                <div class="index_display_sub_button_number1">
                    <p>4</p>
                </div>
                <div class="index_display_sub_button_number1">
                    <p>5</p>
                </div>
                <div class="index_display_sub_button_number1">
                    <p>6</p>
                </div>
                <div id="index_display_sub_button_more">
                    <p>+</p>
                </div>

            </div>
            <div class="index__display_button_number2">
                <div class="index_display_sub_button_number2">
                    <p>1</p>
                </div>
                <div class="index_display_sub_button_number2">
                    <p>2</p>
                </div>
                <div class="index_display_sub_button_number2">
                    <p>3</p>
                </div>
                <div id="index_display_sub_button_equal">
                    <p>=</p>
                </div>
            
            </div>
            <div class="index__display_button_number3">
                <div id="index_display_sub_button_number3_1">
                    <p>0</p>
                </div>
                <div id="index_display_sub_button_number3_2">
                    <p>.</p>
                </div>
            
            </div>
        </div>
    </div>
</body>
<script src="../js/calculos.js"></script>

</html>